* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-size: 18px;
    color: #333;
    background-color: powderblue;
    text-align: center;
}
p {
    line-height: 1.4em;
    margin-bottom: 1.5em;
}
h1{
    display:table;
    background-color: whitesmoke;
    margin: 20px auto 0px auto;
    border-radius: 10px;
    padding-left: 15px;
    padding-right:15px;
    
}

div.main {
    background-color: whitesmoke;
    margin-top: 20px;
    margin-right: 15%;
    margin-left: 15%;
    border-radius: 10px;
}
